/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* emember to define focus styles! */
:focus {
  outline: 0;
}

/* emember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary, video {
  display:block;
}


/*  - - - - - - - - - - - - - - - - - - - - - - - - - - -  */


/* GENERAL STYLES */


html {
	font-size: 100%;
	background-color: #333;
}

.toggletext, .toggleitems, .togglebosses {
    background-color: #000;
    padding: 10px;
    border: 2px solid rgba(80,80,100,0.85);
    font-weight: bold;
    color: #fff;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 4px;
}

.app {
	width: 1024px;
}


canvas {
	position: absolute;
    top: 0;
    left: 0;
    width: 870px;
    height: 700px;
    z-index: 30;
    pointer-events: none;
}

.items {
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	position: absolute;
	cursor: pointer;
	opacity: 0.6;
}

.bosses {
	width: 40px;
	height: 40px;
	border: 3px dotted #fff;
	border-radius: 40px;
	position: absolute;
	cursor: pointer;
}

/* MAP LEVEL */

.map {
	position: relative;
/*
    width: 90em;
    height: 40em;
*/
	width: 870px;
	height: 700px;
    background-color: #000;
    overflow: hidden;
    z-index: 3;
    float:left;
}

h2.hidelabels {
	display: none;
}

.control_panel {
	width: 15%;
    float: left;
    height: 700px;
    background-color: #333;
}

.toggletext.hidden, .toggleitems.hidden, .togglebosses.hidden {
	opacity: 0.3;
}


/* ZONE LEVEL */



.zone {
    display: inline-block;
    position: absolute;
    color: #fff;
	transition: all 0.3s ease;
	z-index: 5;
}

.zone0 {
	width: 9.7em;
    height: 4.3em;
}
.zone1 {
    width: 5em;
    height: 5.2em;
}
.zone2 {
    height: 10em;
    width: 7em;
}
.zone3 {
	width: 4.5em;
	height: 1.3em;
}
.zone4 {
    width: 7.8em;
    height: 5em;
}
.zone5 {
    width: 4.5em;
    height: 1.3em;
}
.zone6 {
	width: 5em;
    height: 5.2em;
}
.zone7 {
    width: 4.5em;
    height: 1.3em;
}
.zone8 {
	padding: 1em;
}
.zone9 {
	padding: 1em;
}
.zone10 {
	padding: 1em;
}


	/* ZONE LABELS */

.zone h2 {
    text-align: center;
    font-weight: normal;
    opacity: 0.6;
    position: absolute;
}


.zone0 h2 {
	color: rgb(248, 209, 50);
	top: -1.3em;
	left: 3.2em;
}

.zone1 h2 {
	transform: rotate(-90deg);
	left: -4.3em;
	top: 1.9em;
	color: rgb(148, 240, 115);
	
}

.zone2 h2 {
	transform: rotate(-90deg);
	left: -4.3em;
	top: 5.4em;
	color: rgb(208, 84, 168);
}

.zone3 h2 {
	color: rgb(36, 130, 93);
	top: -1.95em;
	left: -1.3em;	
	min-width: 7em;
}


.zone4 h2 {
    top: 2.6em;
    left: -7em;
	color: rgb(255, 128, 88);
	min-width: 7em;
}

.zone5 h2 {
	transform: rotate(90deg);
    left: 2.3em;
    top: -0.1em;
	min-width: 7em;
	color: rgb(197, 82, 81);
}

.zone6 h2 {
	top: -2.3em;
	color: rgb(153, 203, 254);
	min-width: 6em;
    left: -0.65em;
}

.zone7 h2 {
	transform: rotate(90deg);
	left: 2.3em;
    top: -0.1em;
	min-width: 7em;
	color: rgb(133, 133, 247);
}

.zone8 h2 {
    top: 1em;
    left: 3em;
	color: rgb(151, 151, 151);
}

.zone9 h2 {
    top: 2.6em;
    left: -0.95em;
	color: rgb(103, 103, 103);
}

.zone10 h2 {
	left: 3em;
    top: 1em;
    color: rgb(212, 212, 212);
}

	/* ZONE POSITIONS in MAPVIEW */

.mapview .zone0 {
    top: 10%;
    left: 30%;
}

.mapview .zone1 {
    left: 16%;
    top: 18%;
}

.mapview .zone2 {
    left: 31%;
    top: 25%;
}

.mapview .zone3 {
	left: 54%;
    top: 10%;
}

.mapview .zone4 {
    left: 46%;
    top: 47.5%;
}

.mapview .zone5 {
    left: 62%;
    top: 54%;
}

.mapview .zone6 {
    left: 50%;
    top: 23%;
}

.mapview .zone7 {
	left: 65%;
    top: 26%;
}

.mapview .zone8 {
    left: 49%;
    top: 39%;
}

.mapview .zone9 {
	left: 46.2%;
    top: 63%;
}

.mapview .zone10 {
    left: 28%;
    top: 18.5%;
}



	/* ZONE POSITION in ZONEVIEW for ELEMENTS OFFSCREEN */

.zoneview .side {
	min-height: 160px;
	min-width: 110px;
}


.zoneview .zone0 {
    top: -10em;
    left: 40em;
}

.zoneview .zone1 {
    left: -10em;
    top: 9em;
}

.zoneview .zone2 {
    left: -15em;
    top: 16em;
}

.zoneview .zone3 {
	left: 75.2em;
    top: -10em;
}

.zoneview .zone4 {
    left: 30em;
    top: 51.6em;
}

.zoneview .zone5 {
	left: 62em;
    top: 51.5em;
}

.zoneview .zone6 {
    left: 109em;
    top: 5em;
}

.zoneview .zone7 {
    left: 106em;
    top: 13.6em;
}

.zoneview .zone8 {
    left: -15em;
    top: 21.6em;
}

.zoneview .zone9 {
    left: 53.25em;
    top: 50em;
}

.zoneview .zone10 {
    left: -10em;
    top: 7em;
}


	/* ZONE POSITION in ZONEVIEW for ELEMENTS ON SCREEN */

.zoneview .main {
	display: block;
    left: 45.5%;
    top: 30%;
    scale: 1.0;
}

.zone10 .items {
	display: none;
}

.side {
	pointer-events: none;
}

.zoneview .zone:nth-child(1 of .side) {
	display: block;
	top: 10%;
	left: 10%;
	scale: 1.0;
}
.zoneview .zone:nth-child(2 of .side) {
	display: block;
	top: 42.67%;
	left: 10%;
	scale: 1.0;
}
.zoneview .zone:nth-child(3 of .side) {
	display: block;
	top: 76.2%;
	left: 10%;
	scale: 1.0;
}
.zoneview .zone:nth-child(4 of .side) {
	display: block;
	top: 10%;
	left: 80%;
	scale: 1.0;

}
.zoneview .zone:nth-child(5 of .side) {
	display: block;
	top: 46.67%;
	left: 80%;
	scale: 1.0;
}
.zoneview .zone:nth-child(6 of .side) {
	display: block;
	top: 76.2%;
	left: 80%;
	scale: 1.0;
}

/* ITEMS and BOSSES */

.items, .bosses {
	z-index: -1;
}

.zone0 .items {
	left:7.4em;
	top: -1.8em;
}
.zone1 .items {
	left: 0.3em;
	top: 3.5em;
}
.zone2 .items {
	left: -2em;
	top: 1em;
}
.zone3 .items {
	left: 5.8em;
	top: -2em;
}
.zone4 .items {
	left: -4.1em;
	top: 4.5em;
}
.zone5 .items {
	left: 5em;
	top: 4.2em;
}
.zone6 .items {
	left: 6em;
	top: -2.4em;
}
.zone7 .items {
	left: 5em;
	top: 3.7em;
}
.zone8 .items {
	left: 6em;
	top: 0.8em;
}
.zone9 .items {
	left: 4.3em;
	top: 2.5em;
}
.zone10 .items {
	left: -2em;
	top: 1em;
}

.zone3 .bosses {
	left: 7.8em;
	top: -1em;
}
.zone5 .bosses {
	left: 1em;
	top: 2em;
}
.zone7 .bosses {
	left: 1em;
	top: 2em;
}
.zone8 .bosses {
	left: 8em;
	top: 0.2em;
}

.bosses.kraid {
	background-image: url("i/kraid40.jpg");
}
.bosses.phantoon {
	background-image: url("i/phantoon40.jpg");
}
.bosses.draygon {
	background-image: url("i/draygon40.jpg");
}
.bosses.ridley {
	background-image: url("i/ridley40.jpg");
}
.bosses.unknown {
	background-image: url("i/unknown.jpg");
}

.zoneview .side .items, .zoneview .side .bosses {
	display: none;
}

.items .value {
	display: block;
	padding: 2px 5px;
	user-select: none;
}

/* PORTAL LEVEL */

.portal {
    min-height: 1.22em;
    min-width: 1.22em;
    border-radius: 100%;
    outline: 0.15em solid #000;
    display: inline-block;
/*	background: linear-gradient( 90deg, blue 50%, red 51% ); */
	position: relative;
	z-index: 10;
}

.portal::before {
	content: '';
    width: 100%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}
.portal::after {
	content: '';
    width: 100%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.portal p {
	display: none;
	position: absolute;
	font-size: 11px;
	color: #ddd;
	font-weight: bold;
	min-width: 105px;
}

.portal:hover p {
	display: block;
}

.portal.connected:hover {
	cursor: default;
}


.portal.clicked {
	background-color: yellow;
	opacity: 0.8;
}


.portal:hover {
	cursor: pointer;
}

	/* PORTAL OUTLINE */

.zone0 .portal {outline-color: rgb(248, 209, 50);}
.zone1 .portal {outline-color: rgb(148, 240, 115);}
.zone2 .portal {outline-color: rgb(208, 84, 168);}
.zone3 .portal {outline-color: rgb(36, 130, 93);}
.zone4 .portal {outline-color: rgb(255, 128, 88);}
.zone5 .portal {outline-color: rgb(197, 82, 81);}
.zone6 .portal {outline-color: rgb(153, 203, 254);}
.zone7 .portal {outline-color: rgb(133, 133, 247);}
.zone8 .portal {outline-color: rgb(151, 151, 151);}
.zone9 .portal {outline-color: rgb(103, 103, 103);}
.zone10 .portal {outline-color: rgb(212, 212, 212);}

.zone0 .items {border-color: rgb(248, 209, 50);}
.zone1 .items {border-color: rgb(148, 240, 115);}
.zone2 .items {border-color: rgb(208, 84, 168);}
.zone3 .items {border-color: rgb(36, 130, 93);}
.zone4 .items {border-color: rgb(255, 128, 88);}
.zone5 .items {border-color: rgb(197, 82, 81);}
.zone6 .items {border-color: rgb(153, 203, 254);}
.zone7 .items {border-color: rgb(133, 133, 247);}
.zone8 .items {border-color: rgb(151, 151, 151);}
.zone9 .items {border-color: rgb(103, 103, 103);}
.zone10 .items {border-color: rgb(212, 212, 212);}

.zone3 .bosses {border-color: rgb(36, 130, 93);}
.zone5 .bosses {border-color: rgb(197, 82, 81);}
.zone7 .bosses {border-color: rgb(133, 133, 247);}
.zone8 .bosses {border-color: rgb(151, 151, 151);}

.zone0 .items .value {color: rgb(248, 209, 50);}
.zone1 .items .value {color: rgb(148, 240, 115);}
.zone2 .items .value {color: rgb(208, 84, 168);}
.zone3 .items .value {color: rgb(36, 130, 93);}
.zone4 .items .value {color: rgb(255, 128, 88);}
.zone5 .items .value {color: rgb(197, 82, 81);}
.zone6 .items .value {color: rgb(153, 203, 254);}
.zone7 .items .value {color: rgb(133, 133, 247);}
.zone8 .items .value {color: rgb(151, 151, 151);}
.zone9 .items .value {color: rgb(103, 103, 103);}
.zone10 .items .value {color: rgb(212, 212, 212);}

.zone0 .portal.connected {background-color: rgb(248, 209, 50);}
.zone1 .portal.connected {background-color: rgb(148, 240, 115);}
.zone2 .portal.connected {background-color: rgb(208, 84, 168);}
.zone3 .portal.connected {background-color: rgb(36, 130, 93);}
.zone4 .portal.connected {background-color: rgb(255, 128, 88);}
.zone5 .portal.connected {background-color: rgb(197, 82, 81);}
.zone6 .portal.connected {background-color: rgb(153, 203, 254);}
.zone7 .portal.connected {background-color: rgb(133, 133, 247);}
.zone8 .portal.connected {background-color: rgb(151, 151, 151);}
.zone9 .portal.connected {background-color: rgb(103, 103, 103);}
.zone10 .portal.connected {background-color: rgb(212, 212, 212);}

	/*  PORTAL SPACING  */
		/* Crateria */

.zone0 .portal {
	top: 0em;
}
.zone0 .portal0 {
	left: 0em;
}
.zone0 .portal1 {
	left: 0.7em;
}
.zone0 .portal2 {
	left: 1.9em;
	top: 2.6em;
}
.zone0 .portal3 {
	left: 3em;
	top: 1.3em;
}
.zone0 .portal4 {
	left: 3.5em;
}

		/* Green Brin */

.zone1 .portal0 {
	left: 0em;
}
.zone1 .portal1 {
	left: 0.65em;
	top: 1.95em;
}
.zone1 .portal2 {
	left: 1.3em;
	top: 3.9em;
}

		/* Red Brin */

.zone2 .portal0 {
	top: 4.75em;
}
.zone2 .portal1 {
	left: 0.3em;
	top: 2.6em;
}
.zone2 .portal2 {
    left: -1em;
    top: 0.7em;
}
.zone2 .portal3 {
    left: -1.85em;
    top: 6.4em;
}
.zone2 .portal4 {
    top: 5.2em;
    left: -1.05em;
}
.zone2 .portal5 {
    left: 3.85em;
    top: 6.6em;
}

		/* Wrecked Ship */

.zone3 .portal0 {
	left: 0em;
}
.zone3 .portal1 {
	left: 2em;
}

		/* Upper Norfair */

.zone4 .portal0 {
	left: 0em;
}
.zone4 .portal1 {
	left: 1.3em;
}
.zone4 .portal2 {
	left: -1.25em;
	top: 3.9em;
}
.zone4 .portal3 {
	left: 2.6em;
}
.zone4 .portal4 {
	left: 1.3em;
	top: 2.6em;
}

		/* Lower Norfair */

.zone5 .portal0 {
	left: 0em;
}
.zone5 .portal1 {
	left: 2em;
}


		/* West Maridia */

.zone6 .portal0 {
	left: 0em;
}
.zone6 .portal1 {
    left: -1.3em;
    top: 3.9em;
}
.zone6 .portal2 {
    left: 2em;
    top: 1.3em;
}
.zone6 .portal3 {
    top: 3.9em;
    left: 0.8em;
}

		/* East Maridia */

.zone7 .portal0 {
	left: 0em;
}
.zone7 .portal1 {
	left: 2em;
}


/* Portal Name Styles */


.zone0 .portal0 p {
	top: 2.5em;
    left: -3em;
}
.zone0 .portal1 p {
	top: 2.5em;
	left: -1.5em;
}
.zone0 .portal2 p {
	top: 2em;
	left: -2.5em;
}
.zone0 .portal3 p {
	top: 2.5em;
	left: -0.5em;
}
.zone0 .portal4 p {
	top: 2.5em;
	left: 0em;
}


.zone1 .portal0 p {
	top: 0em;
	left: 3em;
}
.zone1 .portal1 p {
	top: -2em;
	left: 0em;
}
.zone1 .portal2 p {
	top: -1.5em;
	left: 0em;
}



.zone2 .portal0 p {
	top: 6.5em;
	left: -2.5em;
}
.zone2 .portal1 p {
	top: 0.4em;
	left: 3em;
}
.zone2 .portal2 p {
	top: 0.4em;
	left: 3em;
}
.zone2 .portal3 p {
	top: 4.5em;
	left: -4em;
}
.zone2 .portal4 p {
	top: -0.5em;
	left: 2.5em;
}
.zone2 .portal5 p {
	top: 2.5em;
	left: -2.5em;
}



.zone3 .portal0 p {
	top: 2.7em;
	left: -1em;
}
.zone3 .portal1 p {
	top: 2.7em;
	left: -4em;
	width: 120px;
}




.zone4 .portal0 p {
	top: -2em;
	left: -2.5em;
}
.zone4 .portal1 p {
	top: -1.5em;
	left: -0.5em;
}
.zone4 .portal2 p {
	top: 2.5em;
	left: -0.5em;
}
.zone4 .portal3 p {
	top: -0.3em;
	left: 3em;
	min-width: 80px;
}
.zone4 .portal4 p {
	top: 3em;
	left: -3em;
}




.zone5 .portal0 p {
	top: -2em;
	left: -1em;
}
.zone5 .portal1 p {
	top: -2em;
	left: -2.5em;
}



.zone6 .portal0 p {
	top: -0.5em;
	left: 2.5em;
}
.zone6 .portal1 p {
	top: 3em;
	left: -2em;
}
.zone6 .portal2 p {
	top: -2em;
	left: -2em;
}
.zone6 .portal3 p {
	top: 3em;
	left: -2em;
}



.zone7 .portal0 p {
	top: -2em;
	left: -2em;
}
.zone7 .portal1 p {
	top: -3em;
	left: -3em;
}



.zone8 .portal0 p {
	top: 0em;
	left: 0em;
}
.zone9 .portal0 p {
	top: 0em;
	left: 0em;
}
.zone10 .portal0 p {
	top: 0em;
	left: 0em;
}


	/* STRUCTURAL LINE COLORS */

.zone0 .portal::before {border-color: rgb(248, 209, 50);}
.zone1 .portal::before {border-color: rgb(148, 240, 115);}
.zone2 .portal::before {border-color: rgb(208, 84, 168);}
.zone3 .portal::before {border-color: rgb(36, 130, 93);}
.zone4 .portal::before {border-color: rgb(255, 128, 88);}
.zone5 .portal::before {border-color: rgb(197, 82, 81);}
.zone6 .portal::before {border-color: rgb(153, 203, 254);}
.zone7 .portal::before {border-color: rgb(133, 133, 247);}
.zone8 .portal::before {border-color: rgb(151, 151, 151);}
.zone9 .portal::before {border-color: rgb(103, 103, 103);}
.zone10 .portal::before {border-color: rgb(212, 212, 212);}

.zone0 .portal::after {border-color: rgb(248, 209, 50);}
.zone1 .portal::after {border-color: rgb(148, 240, 115);}
.zone2 .portal::after {border-color: rgb(208, 84, 168);}
.zone3 .portal::after {border-color: rgb(36, 130, 93);}
.zone4 .portal::after {border-color: rgb(255, 128, 88);}
.zone5 .portal::after {border-color: rgb(197, 82, 81);}
.zone6 .portal::after {border-color: rgb(153, 203, 254);}
.zone7 .portal::after {border-color: rgb(133, 133, 247);}
.zone8 .portal::after {border-color: rgb(151, 151, 151);}
.zone9 .portal::after {border-color: rgb(103, 103, 103);}
.zone10 .portal::after {border-color: rgb(212, 212, 212);}


	/* STRUCTURAL LINE SIZE AND POSITION */
		/* Crateria */

.zone0 .portal0::before {
	border-bottom-width: 1px; 
	border-bottom-style: solid;
    left: 1.3em;
	top: 0.65em;
    width: 0.5em;
}
.zone0 .portal1::before {
	border-bottom-width: 1px; 
	border-bottom-style: solid;
    left: 1.3em;
	top: 0.65em;
	width: 5.2em;
}
.zone0 .portal2::before {
	border-left-width: 1px; 
	border-left-style: solid;
    left: 0.65em;
	top: -1.95em;
	height: 1.95em;
}
.zone0 .portal3::before {
	border-left-width: 1px; 
	border-left-style: solid;
    left: 0.6em;
	top: -0.65em;
	height: 0.65em
}
.zone0 .portal4::before {}

		/* Green Brin */

.zone1 .portal0::before {
	border-bottom-width: 1px; 
	border-bottom-style: solid;
    left: 0.55em;
	top: 2.5em;
	width: 1.2em
}

.zone1 .portal0::after {
	border-left-width: 1px; 
	border-left-style: solid;
    left: 0.55em;
	top: 1.3em;
	height: 1.2em;
}


.zone1 .portal1::before {
	border-bottom-width: 1px; 
	border-bottom-style: solid;
    left: 0.55em;
	top: 2.5em;
	width: 1.3em
}

.zone1 .portal1::after {
	border-left-width: 1px; 
	border-left-style: solid;
    left: 0.55em;
	top: 1.3em;
	height: 1.2em;
}


.zone1 .portal2::before {}

		/* Red Brin */

.zone2 .portal0::before {
	border-left-width: 1px; 
	border-left-style: solid;
    left: 0.65em;
    top: -1.4em;
    height: 1.4em;
}

.zone2 .portal0::after {
	border-left-width: 1px; 
	border-left-style: solid;
    left: 0.65em;
	top: 1.3em;
	height: 1.1em;
}

.zone2 .portal1::before {
	border-bottom-width: 1px; 
	border-bottom-style: solid;
    left: -0.9em;
    top: 0.65em;
    width: 0.9em;
}
.zone2 .portal2::before {
	border-left-width: 1px; 
	border-left-style: solid;
    left: 0.65em;
	top: 1.3em;
	height: 0.6em;
}
.zone2 .portal3::before {
	border-bottom-width: 1px; 
	border-bottom-style: solid;
    left: 1.3em;
	top: 0.65em;
	width: 1.4em
}

.zone2 .portal3::after {
	border-bottom-width: 1px; 
	border-bottom-style: solid;
    left: -1.1em;
    top: 0.65em;
    width: 1.1em;
}

.zone2 .portal4::before {
	border-left-width: 1px; 
	border-left-style: solid;
    left: 0.65em;
	top: 1.3em;
	height: 1.3em;
}
.zone2 .portal5::before {
	
}

		/* Wrecked Ship */

.zone3 .portal0::before {
	border-bottom-width: 1px; 
	border-bottom-style: solid;
    left: 1.3em;
	top: 0.65em;
	width: 1.9em;
}
.zone3 .portal1::before {}

		/* Upper Norfair */

.zone4 .portal0::before {
	border-bottom-width: 1px; 
	border-bottom-style: solid;
    left: 1.3em;
	top: 0.65em;
	width: 1.25em
}
.zone4 .portal1::before {
	border-left-width: 1px; 
	border-left-style: solid;
    left: -0.65em;
	top: 0.65em;
	height: 3.2em;
}
.zone4 .portal2::before {
	border-bottom-width: 1px; 
	border-bottom-style: solid;
    left: 0.65em;
	top: -1.9em;
	width: 5.1em;
}
.zone4 .portal3::before {
	border-left-width: 1px; 
	border-left-style: solid;
    left: 0.65em;
	top: 1.3em;
	height: 1.3em;
}
.zone4 .portal4::before {}

		/* Lower Norfair */

.zone5 .portal0::before {
	border-bottom-width: 1px; 
	border-bottom-style: solid;
    left: 1.3em;
	top: 0.65em;
	width: 1.9em;
}
.zone5 .portal1::before {}

.zone6 .portal0::before {
	border-bottom-width: 1px; 
	border-bottom-style: solid;
    left: 0.65em;
	top: 1.95em;
	width: 3.8em;
}

		/* West Maridia */

.zone6 .portal1::before {
	border-left-width: 1px; 
	border-left-style: solid;
    left: 0.65em;
	top: -2.6em;
	height: 2.6em;
}
.zone6 .portal2::before {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    left: -3.3em;
    top: 3.2em;
    width: 3.3em;
}
.zone6 .portal3::before {}

		/* East Maridia */

.zone7 .portal0::before {
	border-bottom-width: 1px; 
	border-bottom-style: solid;
    left: 1.3em;
	top: 0.65em;
	width: 1.9em;
}
.zone7 .portal1::before {}



.portal .partner {
	width: 10px;
	height: 20px;
	left: 10px;
	position: absolute;
	border-radius: 0 20px 20px 0;
	border-left: 1px dashed #fff;
	display: none;
}

.zoneview .side .portal.part_crat .partner {
	display: block;
	background-color: rgb(248, 209, 50)!important;
}

.zoneview .side .portal.part_gb .partner {
	display: block;
	background-color: rgb(148, 240, 115)!important;
}

.zoneview .side .portal.part_rb .partner {
	display: block;
	background-color: rgb(208, 84, 168)!important;
}

.zoneview .side .side.portal.part_ws .partner {
	display: block;
	background-color: rgb(36, 130, 93)!important;
}

.zoneview .side .portal.part_un .partner {
	display: block;
	background-color: rgb(255, 128, 88)!important;
}

.zoneview .side .portal.part_ln .partner {
	display: block;
	background-color: rgb(197, 82, 81)!important;
}

.zoneview .side .portal.part_wm .partner {
	display: block;
	background-color: rgb(153, 203, 254)!important;
}

.zoneview .side .portal.part_em .partner {
	display: block;
	background-color: rgb(133, 133, 247)!important;
}

.zoneview .side .portal.part_k .partner {
	display: block;
	background-color: rgb(151, 151, 151)!important;
}

.zoneview .side .portal.part_croc .partner {
	display: block;
	background-color: rgb(103, 103, 103)!important;
}

.zoneview .side .portal.part_t .partner {
	display: block;
	background-color: rgb(212, 212, 212)!important;
}





.semi-circle {
  width: 1em;
  height: 2em;
  background-color: #48abe0;
  border-radius: 1em 0 0 1em;
}

.off {
	display: none;
}


/*  - - - - - - - - - - - - - - - - - - - - - - - - - - -  */


/* Clearing Floats */

.group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */
